{% extends 'main.html' %}

{% block content %}

{% if page == 'loginPage' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" />

        <input type="submit" value="Login" />
    </form>
    <p>Do you want to register?</p>
    <a href="{% url 'register' %}">Register</a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
    </form>
    <p>Are you already registered user?</p>
    <a href="{% url 'login' %}">Go to Login</a>
</div>

{% endif %}

{% endblock content %}