{% extends 'main.html' %}

{% block content %}
<h1>{{newspaper.name}}</h1>

<h2>{{newspaper.descriptoin}}</h2>


<div class="user-comment-area">
    <h4>User comments:</h4>
    <hr>

    {% for comment in userComments %}
        <div>
            <h5>@{{ comment.user }}  {{ comment.updatedAt }}</h5>
            <p>{{comment.commentInfo}}</p>
            <hr>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="commentInfo" placeholder="Add you comment."/>
    </form>
</div>
{% endif %}

{% endblock content %}